# MoinMoin - Distutils distribution files
#
# Copyright (c) 2001, 2002 by Jürgen Hermann <jh@web.de>
# All rights reserved, see COPYING for details.
#
# $Id: MANIFEST.in,v 1.11 2002/02/27 21:02:53 jhermann Exp $

include CHANGES COPYING INSTALL.html README TODO
include MANIFEST.in moinlogo.bmp setup.cfg

# "wiki" directory
recursive-include   wiki/cgi-bin *.cgi *.py
include             wiki/data/intermap.txt
recursive-include   wiki/data/text *
include             wiki/htdocs/index.html
recursive-include   wiki/htdocs/css *.css
recursive-include   wiki/htdocs/img *.gif *.png

# include MoinMoin/wiki-moinmoin/default.css
# include MoinMoin/wiki-moinmoin/data/editlog
# recursive-include MoinMoin/wiki-moinmoin/img *
# recursive-include MoinMoin/wiki-moinmoin/data/text *

recursive-include contributions *

global-exclude */CVS/*
